.menu__wrapper {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item {
    position: relative;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    margin-left: 30px;
}

.menu__item:after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 18px;
    border-bottom: 3px solid #0365fb;
    display: none;
}

.menu__item:hover:after {
    display: block;
}