.sliderWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(-160px * 5));
    }
    100% {
        transform: translateX(0);
    }
}

.slider {
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 10s linear infinite;
    display: flex;
}

.slider .slide {
    height: 250px;
    width: 350px;
    padding: 0 10px;
    border-radius: 45px;
}